.trackTableHead {
    background-color: #FAFAFA;
}

.trackTableHead th {
    color: #96A1B6;
}

.trackTableBody h6,
.trackTableBody span,
.trackTableBody td {
    font-weight: 600 !important;
}

.trackTableBody h6 {
    font-size: 0.8125rem;
}

.trackTableBody span {
    font-size: 0.75rem;
}